# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Git add file': 'git-plus:add'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Plus'
      'submenu': [
        { 'label': 'Add', 'command': 'git-plus:add' }
        { 'label': 'Add All', 'command': 'git-plus:add-all' }
        { 'label': 'Commit', 'command': 'git-plus:commit' }
        { 'label': 'Diff', 'command': 'git-plus:diff' }
        { 'label': 'Diff All', 'command': 'git-plus:diff-all' }
        { 'label': 'Add & Commit', 'command': 'git-plus:add-and-commit'}
        { 'label': 'Add All & Commit', 'command': 'git-plus:add-all-and-commit'}
        { 'label': 'Log', 'command': 'git-plus:log' }
        { 'label': 'Merge', 'command': 'git-plus:merge'}
      ]
    ]
  }
]
