// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.git-plus {
	.error {
		color: @text-color-warning;
	}

	.success {
		color: @text-color-success;
	}

	.atom-panel.modal.from-bottom {
		width: 600px;
	}

	&.info-view {
		overflow  : auto;
		max-height: 30vh;

		.output {
			background-color: inherit;
		}
	}
}

.select-list-buttons {
	margin-top     : 5px;
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
}

atom-text-editor,
atom-text-editor.editor {
	.syntax--diff {
		.syntax--unimportant {
			color: mix(@syntax-text-color, @syntax-background-color, 25%);
		}

		.syntax--info {
			color: @syntax-color-modified;
		}

		.syntax--deletion {
			color: @syntax-color-removed;
		}

		.syntax--insertion {
			color: @syntax-color-added;
		}

		.syntax--markup.syntax--removed.syntax--diff,
		.syntax--meta.syntax--diff.syntax--header.syntax--from-file {
			border-bottom: 2px solid @syntax-color-removed;
		}

		.syntax--markup.syntax--added.syntax--diff,
		.syntax--meta.syntax--diff.syntax--header.syntax--to-file {
			border-bottom: 2px solid @syntax-color-added;
		}
	}
}

.git-plus-log {
	background-color: @base-background-color;
	overflow-y      : auto;

	#git-plus-commits {
		width: 100%;
		color : @text-color;
		cursor: pointer;

		td {
			padding       : 8px 10px;
			border-bottom : 1px solid #000;
			vertical-align: top;
		}

		.author {
			width: 30%;
		}

		.date {
			width: 25%;
		}

		.message {
			width: 50%;
		}

		.hashShort {
			width     : 10%;
			text-align: right;
		}
	}

	.show-more {
		text-align: center;
	}
	#show-more {
		padding-top: 10px;
	}
}
